  <div class="nav-bar" >
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                <nav class="site-navigation d-flex">
                    <ul class="navbar-nav mr-auto d-flex flex-lg-row justify-content-lg-end ">
                        <li><a [routerLink]="'/'" style="top: -10px;"><img src="../../assets/images/coxti_logo.png" alt="" width="60" height="60"></a></li>
                        <li ><a [routerLink]="'/'">Inicio</a></li>
                        <li ><a [routerLink]="'/iniciar-sesion'" *ngIf="!app.getItem('api_key')">Iniciar Sesión</a></li>
                        <li ><a [routerLink]="'/registrarse'" *ngIf="!app.getItem('api_key')">Registrarse</a></li>
                        <li ><a href="#" *ngIf="app.getItem('api_key')" (click)="onLoggedout()">Cerrar sesión</a></li>
                      </ul>
                </nav><!-- .site-navigation -->

                <div class="hamburger-menu d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div><!-- .hamburger-menu -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .nav-bar -->
