<app-navbar-user></app-navbar-user>

<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <img class="user-avatar" src="../../assets/images/coxti_logo.png" width="100px" />
            <h1>Registro - COXTI</h1>

            <!--Formulario-->
                <div class="form-content">
                    <ngb-tabset #t="ngbTabset">
                        <ngb-tab id="personalInfo" title="Datos personales">
                            <ng-template ngbTabContent>
                                <form #f1="ngForm" role="form">
                                    <div class="row" >
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6 float-left">
                                                    <div class="form-group">
                                                        <label for="fullName">Nombre completo<span class="red">*</span></label>
                                                        <input type="text" id="fullName" name="fullName" class="form-control input-underline input-lg" [(ngModel)]="user.fullName" placeholder="Nombre completo" required maxlength="40">
                                                        <small class="red" *ngIf="validateEmptyInput(user.fullName)">Este campo no puede estar vacío</small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 float-left">
                                                    <div class="form-group">
                                                        <label for="document">Número de identificación<span class="red">*</span></label>
                                                        <input type="number" maxlength="10" id="document" name="document" class="form-control input-underline input-lg"
                                                        [(ngModel)]="user.document" placeholder="Número de identificación" onKeyPress="if(this.value.length==10) return false;" min="1"
                                                        pattern="^[0-9]+" required>
                                                        <small class="red" *ngIf="validateEmptyInput(user.document)">Este campo no puede estar vacío</small>
                                                        <small class="red" *ngIf="validateNumberInput(user.document, true)">Entrada inválida</small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 float-left">
                                                    <div class="form-group">
                                                        <label for="cellPhone">Celular<span class="red">*</span></label>
                                                        <input type="number" id="cellPhone" name="cellPhone" class="form-control input-underline input-lg"
                                                        [(ngModel)]="user.cellPhone" placeholder="Celular"
                                                        onKeyPress="if(this.value.length==10) return false;" min="1" pattern="^[0-9]+" required>
                                                        <small class="red" *ngIf="validateNumberInput(user.cellPhone, true)">Entrada inválida</small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 float-left">
                                                    <div class="form-group">
                                                        <label for="email">Email<span class="red">*</span></label>
                                                        <input type="text" id="email" name="email" class="form-control input-underline input-lg"
                                                        [(ngModel)]="user.email" placeholder="Email" email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                                        required maxlength="30" autocomplete="off">
                                                        <small class="red" *ngIf="validateEmptyInput(user.email)">Este campo no puede estar vacío</small>
                                                        <small class="red" *ngIf="validateEmailInput(user.email)">Correo incorrecto</small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 float-left">
                                                    <div class="form-group">
                                                        <label for="password">Contraseña<span class="red">*</span></label>
                                                        <input type="password" id="password" name="password" class="form-control input-underline input-lg" [(ngModel)]="user.password"  (keyup)="passwordConfirm()" placeholder="Contraseña" required maxlength="20">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 float-left">
                                                    <div class="form-group">
                                                        <label for="confirmPassword">Confirmar contraseña<span class="red">*</span></label>
                                                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control input-underline input-lg"
                                                        placeholder="Confirmar contraseña" required maxlength="20"
                                                        [(ngModel)]="user.confirmPassword" (keyup)="passwordConfirm()">
                                                        <small class="red" *ngIf="passwordError">Las contraseñas no coinciden</small>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group text-center">
                                            <button type="button" class="btn rounded-btn" [disabled]="!f1.valid || passwordError" (click)="changeTab(t, 'locationInfo')">Siguiente</button>
                                        </div>
                                    </div>
                                </form>

                            </ng-template>
                        </ngb-tab>

                        <ngb-tab id="locationInfo" title="Datos de residencia" [disabled]="disableLocation">
                            <ng-template ngbTabContent>
                                <form #f2="ngForm" role="form">
                                    <div class="row">
                                        <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6 float-left">
                                                <div class="form-group">
                                                    <label for="deparment">Departamento<span class="red">*</span></label>
                                                    <select class="form-control input-underline input-lg" id="deparment" name="deparment" [(ngModel)]="user.deparment" (change)="getCities()" required>
                                                        <option *ngFor="let deparment of deparments" [value]="deparment.name" >{{deparment.name}}</option>
                                                    </select>
                                                    <small class="red" *ngIf="validateEmptyInput(user.deparment)">No ha seleccionado departamento</small>
                                                </div>
                                            </div>

                                            <div class="col-md-6 float-left">
                                                <div class="form-group">
                                                    <label for="city">Ciudad<span class="red">*</span></label>
                                                    <select class="form-control input-underline input-lg" id="city" name="city" [(ngModel)]="user.city" required>
                                                        <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                                                    </select>
                                                    <small class="red" *ngIf="validateEmptyInput(user.city)">No ha seleccionado ciudad</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 float-left">
                                                <div class="form-group">
                                                    <label for="district">Barrio<span class="red">*</span></label>
                                                    <input type="text" id="district" name="district" class="form-control input-underline input-lg" [(ngModel)]="user.district" placeholder="Barrio" maxlength="40" required>
                                                    <small class="red" *ngIf="validateEmptyInput(user.district)">Este campo no puede estar vacío</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6 float-left">
                                                <div class="form-group">
                                                    <label for="address">Dirección<span class="red">*</span></label>
                                                    <input type="text" id="address" name="address" class="form-control input-underline input-lg" [(ngModel)]="user.address" placeholder="Dirección" maxlength="40" required>
                                                    <small class="red" *ngIf="validateEmptyInput(user.address)">Este campo no puede estar vacío</small>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group text-center">
                                            <button type="button" class="btn rounded-btn" [disabled]="!f2.valid" (click)="changeTab(t, 'financialInfo')">Siguiente</button>
                                        </div>
                                    </div>
                                </form>

                            </ng-template>
                        </ngb-tab>

                        <ngb-tab id="financialInfo" title="Datos financieros" [disabled]="disableFinancial">
                            <ng-template ngbTabContent>
                                <form #f3="ngForm" role="form">
                                    <div class="row" >
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6 float-left">
                                                    <div class="form-group">
                                                        <label for="salary">Salario<span class="red">*</span></label>
                                                        <input type="number" id="salary" name="salary" class="form-control input-underline input-lg"
                                                        [(ngModel)]="user.salary" placeholder="Salario" min="1"
                                                        pattern="^[0-9]+" required>
                                                        <small class="red" *ngIf="validateEmptyInput(user.salary)">Este campo no puede estar vacío</small>
                                                        <small class="red" *ngIf="validateNumberInput(user.salary, true)">Entrada inválida</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="otherFounds">Otron ingresos</label>
                                                        <textarea  class="form-control" name="otherFounds" id="otherFounds" rows="5"
                                                        [(ngModel)]="user.otherFounds" placeholder="En caso de tener otros ingresos, por favor descríbalos"
                                                        ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="monthlyExpenses">Gastos mensuales</label>
                                                        <textarea  class="form-control" name="monthlyExpenses" id="monthlyExpenses" rows="5"
                                                        [(ngModel)]="user.monthlyExpenses" placeholder="Describa sus gastos mensuales"
                                                        ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="financialExpenses">Gastos financieros</label>
                                                        <textarea  class="form-control" name="financialExpenses" id="financialExpenses" rows="5"
                                                        [(ngModel)]="user.financialExpenses" placeholder="En caso de tener otros ingresos, por favor descríbalos aquí"
                                                        ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group text-center">
                                            <button type="button" class="btn rounded-btn" [disabled]="!f3.valid" (click)="onSubmit()">Registrarse</button>
                                        </div>
                                    </div>
                                </form>

                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group text-center">
                        <hr>
                        <a class="" href="#/iniciar-sesion">Iniciar sesión</a>
                        <hr>
                        <a class="" href="#/politica-privacidad"><small>Política de privacidad</small></a>
                    </div>
                </div>
            <!--Fin formulario-->
        </div>
    </div>
</div>
