<div class="col-12 col-lg-12 col-md-12">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
            <header>
                <app-navbar-user></app-navbar-user>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
            <div class="hero-content-wrap">
                <img src="../../assets/images/coxti_banner.jpeg" alt="">
                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-12 col-md-12 col-sm-8 d-flex flex-column justify-content-center align-items-start">
                                <div class="row">
                                    <div class="entry-header">
                                        <h1>Bienvenido {{app.getItem('user_name')}}!</h1>
                                        <h4 *ngIf="!app.getItem('api_key')">Estás ingresando a COXTI</h4>
                                        <h4 *ngIf="app.getItem('api_key')">Esta es tu información</h4>
                                    </div>
                                </div>

                                <div class="row mt-5" *ngIf="!app.getItem('api_key')">
                                    <div class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                        <a href="#/iniciar-sesion" class="btn gradient-bg mr-2" ><strong>Acceder</strong></a>
                                        <a href="#/registrarse" class="btn orange-border" style="border: 3px solid rgb(217, 150, 26) !important;"><strong>Regístrate</strong></a>
                                    </div>
                                </div>

                                <div class="row" *ngIf="app.getItem('api_key')">
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-8">
                                        <div class="form-content">
                                            <ngb-tabset #t="ngbTabset">
                                                <ngb-tab id="personalInfo" title="Datos personales">
                                                    <ng-template ngbTabContent>
                                                            <div class="row" >
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-6 float-left">
                                                                            <div class="form-group">
                                                                                <label for="fullName">Nombre completo</label>
                                                                                <input type="text" id="fullName" name="fullName" class="form-control input-underline input-lg"
                                                                                [(ngModel)]="user.full_name" readonly>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 float-left">
                                                                            <div class="form-group">
                                                                                <label for="document">Número de identificación</label>
                                                                                <input type="number" id="document" name="document" class="form-control input-underline input-lg"
                                                                                [(ngModel)]="user.document" readonly>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-6 float-left">
                                                                            <div class="form-group">
                                                                                <label for="cellPhone">Celular</label>
                                                                                <input type="number" id="cellPhone" name="cellPhone" class="form-control input-underline input-lg"
                                                                                [(ngModel)]="user.cell_phone" readonly>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 float-left">
                                                                            <div class="form-group">
                                                                                <label for="email">Email</label>
                                                                                <input type="text" id="email" name="email" class="form-control input-underline input-lg"
                                                                                [(ngModel)]="user.email" readonly>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </ng-template>
                                                </ngb-tab>

                                                <ngb-tab id="locationInfo" title="Datos de residencia">
                                                    <ng-template ngbTabContent>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-6 float-left">
                                                                        <div class="form-group">
                                                                            <label for="deparment">Departamento</label>
                                                                            <input type="text" id="deparment" name="deparment" class="form-control input-underline input-lg"
                                                                                [(ngModel)]="user.deparment" readonly>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6 float-left">
                                                                        <div class="form-group">
                                                                            <label for="city">Ciudad</label>
                                                                            <input type="text" id="city" name="city" class="form-control input-underline input-lg"
                                                                                [(ngModel)]="user.deparment" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6 float-left">
                                                                        <div class="form-group">
                                                                            <label for="district">Barrio</label>
                                                                            <input type="text" id="district" name="district" class="form-control input-underline input-lg"
                                                                            [(ngModel)]="user.district" readonly>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 float-left">
                                                                        <div class="form-group">
                                                                            <label for="address">Dirección</label>
                                                                            <input type="text" id="address" name="address" class="form-control input-underline input-lg"
                                                                            [(ngModel)]="user.address" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                    </ng-template>
                                                </ngb-tab>

                                                <ngb-tab id="financialInfo" title="Datos financieros">
                                                    <ng-template ngbTabContent>
                                                            <div class="row" >
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-6 float-left">
                                                                            <div class="form-group">
                                                                                <label for="salary">Salario</label>
                                                                                <input type="number" id="salary" name="salary" class="form-control input-underline input-lg"
                                                                                [(ngModel)]="user.salary" readonly>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label for="otherFounds">Otron ingresos</label>
                                                                                <textarea  class="form-control" name="otherFounds" id="otherFounds" rows="5"
                                                                                [(ngModel)]="user.other_founds" readonly></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label for="monthlyExpenses">Gastos mensuales</label>
                                                                                <textarea  class="form-control" name="monthlyExpenses" id="monthlyExpenses" rows="5"
                                                                                [(ngModel)]="user.monthly_expenses" readonly></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label for="financialExpenses">Gastos financieros</label>
                                                                                <textarea  class="form-control" name="financialExpenses" id="financialExpenses" rows="5"
                                                                                [(ngModel)]="user.financial_expenses" readonly></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </ng-template>
                                                </ngb-tab>
                                            </ngb-tabset>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <!-- .col -->
                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .container -->
                </div>
                <!-- .hero-content-overlay -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
                <div class="footer-widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="foot-about">
                                    <h2 style="text-align: center;">
                                        <div class="foot-logo" >
                                            <img src="../../assets/images/coxti_logo.png" alt="" width="150" height="150">
                                        </div>
                                    </h2>
                                </div>
                                <!-- .foot-about -->
                            </div>
                            <!-- .col -->

                            <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                                <h2>Enlaces</h2>
                                <ul>
                                    <li><a href="#/">Inicio</a></li>
                                    <li *ngIf="!app.getItem('api_key')"><a href="#/iniciar-sesion">Iniciar Sesión</a></li>
                                    <li *ngIf="!app.getItem('api_key')"><a href="#/registrarse">Registrarse</a></li>
                                    <li *ngIf="app.getItem('api_key')"><a href="" (click)="onLoggedout()"><small>Cerrar sesión</small></a></li>
                                </ul>
                            </div>
                            <!-- .col -->

                            <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                                <div class="foot-contact">
                                    <h2>Contáctanos</h2>
                                    <ul>
                                        <li><i class="fa fa-user" style="transform: scale(1.2);"></i><span>Luis Miguel Benavides Trejos</span></li>
                                        <li><i class="fa fa-phone" style="transform: scale(1.2);"></i><span>(57) 312 594 6560</span></li>
                                        <li><i class="fa fa-envelope" style="transform: scale(1.1);"></i><span>jitzo471@gmail.com</span></li>
                                        <li><i class="fa fa-map-marker" style="transform: scale(1.2);"></i><span>Manizales, Caldas</span></li>
                                    </ul>
                                </div>
                                <!-- .foot-contact -->
                            </div>
                            <!-- .col -->
                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .container -->
                </div>
                <!-- .footer-widgets -->

                <div class="footer-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <p class="m-0">
                                    Copyright &copy;{{actualDate}} | Hecho con <i class="fa fa-heart-o" aria-hidden="true"></i> por <a href="mailto://jitzo471@gmail.com" target="_blank">Luis Miguel Benavides Trejos</a>
                                </p>
                            </div>
                            <!-- .col-12 -->
                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .container -->
                </div>
        </div>
    </div>
</div>



