<app-navbar-user></app-navbar-user>

<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">

        <div class="col-md-5">
            <img class="user-avatar" src="../../assets/images/coxti_logo.png" width="100px" />
            <h1>Inicio de sesión - COXTI</h1>
            <form (ngSubmit)="onSignIn()" #f="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="email" class="form-control input-underline input-lg" id="email" name="email"
                        [(ngModel)]="loginCredentials.email" placeholder="Correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="password" name="password"
                        [(ngModel)]="loginCredentials.password"
                        placeholder="Contraseña" required>
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn">Iniciar sesión</button>
                <hr>
                <a class="" href="#/registrarse">Registrarse</a>
            </form>
        </div>
    </div>
</div>
