
<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>Oops!</h1>
      <h2>404 - Página no encontrada</h2>
    </div>
    <button class="btn rounded-btn" (click)="goHome()">Ir a inicio</button>
  </div>
</div>
